@keyframes swirl {
  0% {
    background-position: 0%;
  }
  25% {
    background-position: 50%;
  }
  50% {
    background-position: 100%;
  }
  75% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}


* {
  background-size: 1% 1%;
  animation: swirl 0.3s ease infinite;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
  3deg,
  #FF5733 0%,
  #33FF57 0.1%,
  #3357FF 0.2%,
  #0e0b11 0.3%,
  #A233FF 0.4%,
  #33FFF3 0.5%,
  #FFB733 0.6%,
  #B7FF33 0.7%,
  #5733FF 0.8%,
  #FF3380 0.9%,
  #3380FF 1%,
  #80FF33 1.1%,
  #FF8033 1.2%,
  #8033FF 1.3%,
  #33FF80 1.4%,
  #FF33B7 1.5%,
  #B733FF 1.6%,
  #33FFF5 1.7%,
  #FFBF33 1.8%,
  #BF33FF 1.9%,
  #33FFBF 2%,
  #FF33C3 2.1%,
  #C333FF 2.2%,
  #33C3FF 2.3%,
  #FFC333 2.4%,
  #C3FF33 2.5%,
  #FF33D7 2.6%,
  #D733FF 2.7%,
  #33FFD7 2.8%,
  #FFD733 2.9%,
  #D7FF33 3%,
  #FF33EA 3.1%,
  #EA33FF 3.2%,
  #33FFEA 3.3%,
  #FFE733 3.4%,
  #E7FF33 3.5%,
  #33E7FF 3.6%,
  #FF3399 3.7%,
  #9933FF 3.8%,
  #33FF99 3.9%,
  #FF9933 4%,
  #9933FF 4.1%,
  #33FF33 4.2%,
  #FF3333 4.3%,
  #3333FF 4.4%,
  #33FF66 4.5%,
  #FF66CC 4.6%,
  #66CCFF 4.7%,
  #FF66FF 4.8%,
  #66FF66 4.9%,
  #FF6666 5%,
  #6666FF 5.1%,
  #66FFCC 5.2%,
  #FFCC66 5.3%,
  #CC66FF 5.4%,
  #FF66AA 5.5%,
  #AA66FF 5.6%,
  #FFCC33 5.7%,
  #CC33FF 5.8%,
  #FF33CC 5.9%,
  #33CCFF 6%,
  #33CC33 6.1%,
  #33FFB2 6.2%,
  #FFB233 6.3%,
  #B233FF 6.4%,
  #3380FF 6.5%,
  #80FF33 6.6%,
  #FF8033 6.7%,
  #8033FF 6.8%,
  #33FF80 6.9%,
  #FF33B7 7%,
  #B733FF 7.1%,
  #33FFF5 7.2%,
  #FFBF33 7.3%,
  #BF33FF 7.4%,
  #33FFBF 7.5%,
  #FF33C3 7.6%,
  #C333FF 7.7%,
  #33C3FF 7.8%,
  #FFC333 7.9%,
  #C3FF33 8%,
  #FF33D7 8.1%,
  #D733FF 8.2%,
  #33FFD7 8.3%,
  #FFD733 8.4%,
  #D7FF33 8.5%,
  #FF33EA 8.6%,
  #EA33FF 8.7%,
  #33FFEA 8.8%,
  #FFE733 8.9%,
  #E7FF33 9%,
  #33E7FF 9.1%,
  #FF3399 9.2%,
  #9933FF 9.3%,
  #33FF99 9.4%,
  #FF9933 9.5%,
  #9933FF 9.6%,
  #33FF33 9.7%,
  #FF3333 9.8%,
  #3333FF 9.9%,
  #33FF66 10%,
  #FF66CC 10.1%,
  #66CCFF 10.2%,
  #FF66FF 10.3%,
  #66FF66 10.4%,
  #FF6666 10.5%,
  #6666FF 10.6%,
  #66FFCC 10.7%,
  #FFCC66 10.8%,
  #CC66FF 10.9%,
  #FF66AA 11%,
  #AA66FF 11.1%,
  #FFCC33 11.2%,
  #CC33FF 11.3%,
  #FF33CC 11.4%,
  #33CCFF 11.5%,
  #33CC33 11.6%,
  #33FFB2 11.7%,
  #FFB233 11.8%,
  #B233FF 11.9%,
  #3380FF 12%,
  #80FF33 12.1%,
  #FF8033 12.2%,
  #8033FF 12.3%,
  #33FF80 12.4%,
  #FF33B7 12.5%,
  #B733FF 12.6%,
  #33FFF5 12.7%,
  #FFBF33 12.8%,
  #BF33FF 12.9%,
  #33FFBF 13%,
  #FF33C3 13.1%,
  #C333FF 13.2%,
  #33C3FF 13.3%,
  #FFC333 13.4%,
  #C3FF33 13.5%,
  #FF33D7 13.6%,
  #D733FF 13.7%,
  #33FFD7 13.8%,
  #FFD733 13.9%,
  #D7FF33 14%,
  #FF33EA 14.1%,
  #EA33FF 14.2%,
  #33FFEA 14.3%,
  #FFE733 14.4%,
  #E7FF33 14.5%,
  #33E7FF 14.6%,
  #FF3399 14.7%,
  #9933FF 14.8%,
  #33FF99 14.9%,
  #FF9933 15%,
  #9933FF 15.1%,
  #33FF33 15.2%,
  #FF3333 15.3%,
  #3333FF 15.4%,
  #33FF66 15.5%,
  #FF66CC 15.6%,
  #66CCFF 15.7%,
  #FF66FF 15.8%,
  #66FF66 15.9%,
  #FF6666 16%,
  #6666FF 16.1%,
  #66FFCC 16.2%,
  #FFCC66 16.3%,
  #CC66FF 16.4%,
  #FF66AA 16.5%,
  #AA66FF 16.6%,
  #FFCC33 16.7%,
  #CC33FF 16.8%,
  #FF33CC 16.9%,
  #33CCFF 17%,
  #33CC33 17.1%,
  #33FFB2 17.2%,
  #FFB233 17.3%,
  #B233FF 17.4%,
  #3380FF 17.5%,
  #80FF33 17.6%,
  #FF8033 17.7%,
  #8033FF 17.8%,
  #33FF80 17.9%,
  #FF33B7 18%,
  #BF33FF 18.1%,
  #33FFBF 18.2%,
  #FF33C3 18.3%,
  #C333FF 18.4%,
  #33C3FF 18.5%,
  #FFC333 18.6%,
  #C3FF33 18.7%,
  #FF33D7 18.8%,
  #D733FF 18.9%,
  #33FFD7 19%,
  #FFD733 19.1%,
  #D7FF33 19.2%,
  #FF33EA 19.3%,
  #EA33FF 19.4%,
  #33FFEA 19.5%,
  #FFE733 19.6%,
  #E7FF33 19.7%,
  #33E7FF 19.8%,
  #FF3399 19.9%,
  #9933FF 20%,
  #33FF99 20.1%,
  #FF9933 20.2%,
  #9933FF 20.3%,
  #33FF33 20.4%,
  #FF3333 20.5%,
  #3333FF 20.6%,
  #33FF66 20.7%,
  #FF66CC 20.8%,
  #66CCFF 20.9%,
  #FF66FF 21%,
  #66FF66 21.1%,
  #FF6666 21.2%,
  #6666FF 21.3%,
  #66FFCC 21.4%,
  #FFCC66 21.5%,
  #CC66FF 21.6%,
  #FF66AA 21.7%,
  #AA66FF 21.8%,
  #FFCC33 21.9%,
  #CC33FF 22%,
  #FF33CC 22.1%,
  #33CCFF 22.2%,
  #33CC33 22.3%,
  #33FFB2 22.4%,
  #FFB233 22.5%,
  #B233FF 22.6%,
  #3380FF 22.7%,
  #80FF33 22.8%,
  #FF8033 22.9%,
  #8033FF 23%,
  #33FF80 23.1%,
  #FF33B7 23.2%,
  #B733FF 23.3%,
  #33FFF5 23.4%,
  #FFBF33 23.5%,
  #BF33FF 23.6%,
  #33FFBF 23.7%,
  #FF33C3 23.8%,
  #C333FF 23.9%,
  #33C3FF 24%,
  #FFC333 24.1%,
  #C3FF33 24.2%,
  #FF33D7 24.3%,
  #D733FF 24.4%,
  #33FFD7 24.5%,
  #FFD733 24.6%,
  #D7FF33 24.7%,
  #FF33EA 24.8%,
  #EA33FF 24.9%,
  #33FFEA 25%,
  #FFE733 25.1%,
  #E7FF33 25.2%,
  #33E7FF 25.3%,
  #FF3399 25.4%,
  #9933FF 25.5%,
  #33FF99 25.6%,
  #FF9933 25.7%,
  #9933FF 25.8%,
  #33FF33 25.9%,
  #FF3333 26%,
  #3333FF 26.1%,
  #33FF66 26.2%,
  #FF66CC 26.3%,
  #66CCFF 26.4%,
  #FF66FF 26.5%,
  #66FF66 26.6%,
  #FF6666 26.7%,
  #6666FF 26.8%,
  #66FFCC 26.9%,
  #FFCC66 27%,
  #CC66FF 27.1%,
  #FF66AA 27.2%,
  #AA66FF 27.3%,
  #FFCC33 27.4%,
  #CC33FF 27.5%,
  #FF33CC 27.6%,
  #33CCFF 27.7%,
  #33CC33 27.8%,
  #33FFB2 27.9%,
  #FFB233 28%,
  #B233FF 28.1%,
  #3380FF 28.2%,
  #80FF33 28.3%,
  #FF8033 28.4%,
  #8033FF 28.5%,
  #33FF80 28.6%,
  #FF33B7 28.7%,
  #B733FF 28.8%,
  #33FFF5 28.9%,
  #FFBF33 29%,
  #BF33FF 29.1%,
  #33FFBF 29.2%,
  #FF33C3 29.3%,
  #C333FF 29.4%,
  #33C3FF 29.5%,
  #FFC333 29.6%,
  #C3FF33 29.7%,
  #FF33D7 29.8%,
  #D733FF 29.9%,
  #33FFD7 30%,
  #FFD733 30.1%,
  #D7FF33 30.2%,
  #FF33EA 30.3%,
  #EA33FF 30.4%,
  #33FFEA 30.5%,
  #FFE733 30.6%,
  #E7FF33 30.7%,
  #33E7FF 30.8%,
  #FF3399 30.9%,
  #9933FF 31%,
  #33FF99 31.1%,
  #FF9933 31.2%,
  #9933FF 31.3%,
  #33FF33 31.4%,
  #FF3333 31.5%,
  #3333FF 31.6%,
  #33FF66 31.7%,
  #FF66CC 31.8%,
  #66CCFF 31.9%,
  #FF66FF 32%,
  #66FF66 32.1%,
  #FF6666 32.2%,
  #6666FF 32.3%,
  #66FFCC 32.4%,
  #FFCC66 32.5%,
  #CC66FF 32.6%,
  #FF66AA 32.7%,
  #AA66FF 32.8%,
  #FFCC33 32.9%,
  #CC33FF 33%,
  #FF33CC 33.1%,
  #33CCFF 33.2%,
  #33CC33 33.3%,
  #33FFB2 33.4%,
  #FFB233 33.5%,
  #B233FF 33.6%,
  #3380FF 33.7%,
  #80FF33 33.8%,
  #FF8033 33.9%,
  #8033FF 34%,
  #33FF80 34.1%,
  #FF33B7 34.2%,
  #B733FF 34.3%,
  #33FFF5 34.4%,
  #FFBF33 34.5%,
  #BF33FF 34.6%,
  #33FFBF 34.7%,
  #FF33C3 34.8%,
  #C333FF 34.9%,
  #33C3FF 35%,
  #FFC333 35.1%,
  #C3FF33 35.2%,
  #FF33D7 35.3%,
  #D733FF 35.4%,
  #33FFD7 35.5%,
  #FFD733 35.6%,
  #D7FF33 35.7%,
  #FF33EA 35.8%,
  #EA33FF 35.9%,
  #FF3399 36%,
  #9933FF 36.1%,
  #33FF99 36.2%,
  #FF9933 36.3%,
  #9933FF 36.4%,
  #33FF33 36.5%,
  #FF3333 36.6%,
  #3333FF 36.7%,
  #33FF66 36.8%,
  #FF66CC 36.9%,
  #66CCFF 37%,
  #FF66FF 37.1%,
  #66FF66 37.2%,
  #FF6666 37.3%,
  #6666FF 37.4%,
  #66FFCC 37.5%,
  #FFCC66 37.6%,
  #CC66FF 37.7%,
  #FF66AA 37.8%,
  #AA66FF 37.9%,
  #FFCC33 38%,
  #CC33FF 38.1%,
  #FF33CC 38.2%,
  #33CCFF 38.3%,
  #33CC33 38.4%,
  #33FFB2 38.5%,
  #FFB233 38.6%,
  #B233FF 38.7%,
  #3380FF 38.8%,
  #80FF33 38.9%,
  #FF8033 39%,
  #8033FF 39.1%,
  #33FF80 39.2%,
  #FF33B7 39.3%,
  #B733FF 39.4%,
  #33FFF5 39.5%,
  #FFBF33 39.6%,
  #BF33FF 39.7%,
  #33FFBF 39.8%,
  #FF33C3 39.9%,
  #C333FF 40%,
  #33C3FF 40.1%,
  #FFC333 40.2%,
  #C3FF33 40.3%,
  #FF33D7 40.4%,
  #D733FF 40.5%,
  #33FFD7 40.6%,
  #FFD733 40.7%,
  #D7FF33 40.8%,
  #FF33EA 40.9%,
  #EA33FF 41%,
  #33FFEA 41.1%,
  #FFE733 41.2%,
  #E7FF33 41.3%,
  #33E7FF 41.4%,
  #FF3399 41.5%,
  #9933FF 41.6%,
  #33FF99 41.7%,
  #FF9933 41.8%,
  #9933FF 41.9%,
  #33FF33 42%,
  #FF3333 42.1%,
  #3333FF 42.2%,
  #33FF66 42.3%,
  #FF66CC 42.4%,
  #66CCFF 42.5%,
  #FF66FF 42.6%,
  #66FF66 42.7%,
  #FF6666 42.8%,
  #6666FF 42.9%,
  #66FFCC 43%,
  #FFCC66 43.1%,
  #CC66FF 43.2%,
  #FF66AA 43.3%,
  #AA66FF 43.4%,
  #FFCC33 43.5%,
  #CC33FF 43.6%,
  #FF33CC 43.7%,
  #33CCFF 43.8%,
  #33CC33 43.9%,
  #33FFB2 44%,
  #FFB233 44.1%,
  #B233FF 44.2%,
  #3380FF 44.3%,
  #80FF33 44.4%,
  #FF8033 44.5%,
  #8033FF 44.6%,
  #33FF80 44.7%,
  #FF33B7 44.8%,
  #B733FF 44.9%,
  #33FFF5 45%,
  #FFBF33 45.1%,
  #BF33FF 45.2%,
  #33FFBF 45.3%,
  #FF33C3 45.4%,
  #C333FF 45.5%,
  #33C3FF 45.6%,
  #FFC333 45.7%,
  #C3FF33 45.8%,
  #FF33D7 45.9%,
  #D733FF 46%,
  #33FFD7 46.1%,
  #FFD733 46.2%,
  #D7FF33 46.3%,
  #FF33EA 46.4%,
  #EA33FF 46.5%,
  #33FFEA 46.6%,
  #FFE733 46.7%,
  #E7FF33 46.8%,
  #33E7FF 46.9%,
  #FF3399 47%,
  #9933FF 47.1%,
  #33FF99 47.2%,
  #FF9933 47.3%,
  #9933FF 47.4%,
  #33FF33 47.5%,
  #FF3333 47.6%,
  #3333FF 47.7%,
  #33FF66 47.8%,
  #FF66CC 47.9%,
  #66CCFF 48%,
  #FF66FF 48.1%,
  #66FF66 48.2%,
  #FF6666 48.3%,
  #6666FF 48.4%,
  #66FFCC 48.5%,
  #FFCC66 48.6%,
  #CC66FF 48.7%,
  #FF66AA 48.8%,
  #AA66FF 48.9%,
  #FFCC33 49%,
  #CC33FF 49.1%,
  #FF33CC 49.2%,
  #33CCFF 49.3%,
  #33CC33 49.4%,
  #33FFB2 49.5%,
  #FFB233 49.6%,
  #B233FF 49.7%,
  #3380FF 49.8%,
  #80FF33 49.9%,
    #FF8033 50%,
    #8033FF 50.1%,
  #33FF80 50.2%,
  #FF33B7 50.3%,
  #B733FF 50.4%,
  #33FFF5 50.5%,
  #FFBF33 50.6%,
  #BF33FF 50.7%,
  #33FFBF 50.8%,
  #FF33C3 50.9%,
  #C333FF 51%,
  #33C3FF 51.1%,
  #FFC333 51.2%,
  #C3FF33 51.3%,
  #FF33D7 51.4%,
  #D733FF 51.5%,
  #33FFD7 51.6%,
  #FFD733 51.7%,
  #D7FF33 51.8%,
  #FF33EA 51.9%,
  #EA33FF 52%,
  #33FFEA 52.1%,
  #FFE733 52.2%,
  #E7FF33 52.3%,
  #33E7FF 52.4%,
  #FF3399 52.5%,
  #9933FF 52.6%,
  #33FF99 52.7%,
  #FF9933 52.8%,
  #9933FF 52.9%,
  #33FF33 53%,
  #FF3333 53.1%,
  #3333FF 53.2%,
  #33FF66 53.3%,
  #FF66CC 53.4%,
  #66CCFF 53.5%,
  #FF66FF 53.6%,
  #66FF66 53.7%,
  #FF6666 53.8%,
  #6666FF 53.9%,
  #66FFCC 54%,
  #FFCC66 54.1%,
  #CC66FF 54.2%,
  #FF66AA 54.3%,
  #AA66FF 54.4%,
  #FFCC33 54.5%,
  #CC33FF 54.6%,
  #FF33CC 54.7%,
  #33CCFF 54.8%,
  #33CC33 54.9%,
  #33FFB2 55%,
  #FFB233 55.1%,
  #B233FF 55.2%,
  #3380FF 55.3%,
  #80FF33 55.4%,
  #FF8033 55.5%,
  #8033FF 55.6%,
  #33FF80 55.7%,
  #FF33B7 55.8%,
  #B733FF 55.9%,
  #33FFF5 56%,
  #FFBF33 56.1%,
  #BF33FF 56.2%,
  #33FFBF 56.3%,
  #FF33C3 56.4%,
  #C333FF 56.5%,
  #33C3FF 56.6%,
  #FFC333 56.7%,
  #C3FF33 56.8%,
  #FF33D7 56.9%,
  #D733FF 57%,
  #33FFD7 57.1%,
  #FFD733 57.2%,
  #D7FF33 57.3%,
  #FF33EA 57.4%,
  #EA33FF 57.5%,
  #33FFEA 57.6%,
  #FFE733 57.7%,
  #E7FF33 57.8%,
  #33E7FF 57.9%,
  #FF3399 58%,
  #9933FF 58.1%,
  #33FF99 58.2%,
  #FF9933 58.3%,
  #9933FF 58.4%,
  #33FF33 58.5%,
  #FF3333 58.6%,
  #3333FF 58.7%,
  #33FF66 58.8%,
  #FF66CC 58.9%,
  #66CCFF 59%,
  #FF66FF 59.1%,
  #66FF66 59.2%,
  #FF6666 59.3%,
  #6666FF 59.4%,
  #66FFCC 59.5%,
  #FFCC66 59.6%,
  #CC66FF 59.7%,
  #FF66AA 59.8%,
  #AA66FF 59.9%,
  #FFCC33 60%,
  #CC33FF 60.1%,
  #FF33CC 60.2%,
  #33CCFF 60.3%,
  #33CC33 60.4%,
  #33FFB2 60.5%,
  #FFB233 60.6%,
  #B233FF 60.7%,
  #3380FF 60.8%,
  #80FF33 60.9%,
  #FF8033 61%,
  #8033FF 61.1%,
  #33FF80 61.2%,
  #FF33B7 61.3%,
  #B733FF 61.4%,
  #33FFF5 61.5%,
  #FFBF33 61.6%,
  #BF33FF 61.7%,
  #33FFBF 61.8%,
  #FF33C3 61.9%,
  #C333FF 62%,
  #33C3FF 62.1%,
  #FFC333 62.2%,
  #C3FF33 62.3%,
  #FF33D7 62.4%,
  #D733FF 62.5%,
  #33FFD7 62.6%,
  #FFD733 62.7%,
  #D7FF33 62.8%,
  #FF33EA 62.9%,
  #EA33FF 63%,
  #33FFEA 63.1%,
  #FFE733 63.2%,
  #E7FF33 63.3%,
  #33E7FF 63.4%,
  #FF3399 63.5%,
  #9933FF 63.6%,
  #33FF99 63.7%,
  #FF9933 63.8%,
  #9933FF 63.9%,
  #33FF33 64%,
  #FF3333 64.1%,
  #3333FF 64.2%,
  #33FF66 64.3%,
  #FF66CC 64.4%,
  #66CCFF 64.5%,
  #FF66FF 64.6%,
  #66FF66 64.7%,
  #FF6666 64.8%,
  #6666FF 64.9%,
  #66FFCC 65%,
  #FFCC66 65.1%,
  #CC66FF 65.2%,
  #FF66AA 65.3%,
  #AA66FF 65.4%,
  #FFCC33 65.5%,
  #CC33FF 65.6%,
  #FF33CC 65.7%,
  #33CCFF 65.8%,
  #33CC33 65.9%,
  #33FFB2 66%,
  #FFB233 66.1%,
  #B233FF 66.2%,
  #3380FF 66.3%,
  #80FF33 66.4%,
  #FF8033 66.5%,
  #8033FF 66.6%,
  #33FF80 66.7%,
  #FF33B7 66.8%,
  #B733FF 66.9%,
  #33FFF5 67%,
  #FFBF33 67.1%,
  #BF33FF 67.2%,
  #33FFBF 67.3%,
  #FF33C3 67.4%,
  #C333FF 67.5%,
  #33C3FF 67.6%,
  #FFC333 67.7%,
  #C3FF33 67.8%,
  #FF33D7 67.9%,
  #D733FF 68%,
  #33FFD7 68.1%,
  #FFD733 68.2%,
  #D7FF33 68.3%,
  #FF33EA 68.4%,
  #EA33FF 68.5%,
  #33FFEA 68.6%,
  #FFE733 68.7%,
  #E7FF33 68.8%,
  #33E7FF 68.9%,
  #FF3399 69%,
  #9933FF 69.1%,
  #33FF99 69.2%,
  #FF9933 69.3%,
  #9933FF 69.4%,
  #33FF33 69.5%,
  #FF3333 69.6%,
  #3333FF 69.7%,
  #33FF66 69.8%,
  #FF66CC 69.9%,
  #66CCFF 70%,
  #FF66FF 70.1%,
  #66FF66 70.2%,
  #FF6666 70.3%,
  #6666FF 70.4%,
  #66FFCC 70.5%,
  #FFCC66 70.6%,
  #CC66FF 70.7%,
  #FF66AA 70.8%,
  #AA66FF 70.9%,
  #FFCC33 71%,
  #CC33FF 71.1%,
  #FF33CC 71.2%,
  #33CCFF 71.3%,
  #33CC33 71.4%,
  #33FFB2 71.5%,
  #FFB233 71.6%,
  #B233FF 71.7%,
  #3380FF 71.8%,
  #80FF33 71.9%,
  #FF8033 72%,
  #8033FF 72.1%,
  #33FF99 72.2%,
  #FF9933 72.3%,
  #9933FF 72.4%,
  #33FF33 72.5%,
  #FF3333 72.6%,
  #3333FF 72.7%,
  #33FF66 72.8%,
  #FF66CC 72.9%,
  #66CCFF 73%,
  #FF66FF 73.1%,
  #66FF66 73.2%,
  #FF6666 73.3%,
  #6666FF 73.4%,
  #66FFCC 73.5%,
  #FFCC66 73.6%,
  #CC66FF 73.7%,
  #FF66AA 73.8%,
  #AA66FF 73.9%,
  #FFCC33 74%,
  #CC33FF 74.1%,
  #FF33CC 74.2%,
  #33CCFF 74.3%,
  #33CC33 74.4%,
  #33FFB2 74.5%,
  #FFB233 74.6%,
  #B233FF 74.7%,
  #3380FF 74.8%,
  #80FF33 74.9%,
  #FF8033 75%,
  #8033FF 75.1%,
  #33FF80 75.2%,
  #FF33B7 75.3%,
  #B733FF 75.4%,
  #33FFF5 75.5%,
  #FFBF33 75.6%,
  #BF33FF 75.7%,
  #33FFBF 75.8%,
  #FF33C3 75.9%,
  #C333FF 76%,
  #33C3FF 76.1%,
  #FFC333 76.2%,
  #C3FF33 76.3%,
  #FF33D7 76.4%,
  #D733FF 76.5%,
  #33FFD7 76.6%,
  #FFD733 76.7%,
  #D7FF33 76.8%,
  #FF33EA 76.9%,
  #EA33FF 77%,
  #33FFEA 77.1%,
  #FFE733 77.2%,
  #E7FF33 77.3%,
  #33E7FF 77.4%,
  #FF3399 77.5%,
  #9933FF 77.6%,
  #33FF99 77.7%,
  #FF9933 77.8%,
  #9933FF 77.9%,
  #33FF33 78%,
  #FF3333 78.1%,
  #3333FF 78.2%,
  #33FF66 78.3%,
  #FF66CC 78.4%,
  #66CCFF 78.5%,
  #FF66FF 78.6%,
  #66FF66 78.7%,
  #FF6666 78.8%,
  #6666FF 78.9%,
  #66FFCC 79%,
  #FFCC66 79.1%,
  #CC66FF 79.2%,
  #FF66AA 79.3%,
  #AA66FF 79.4%,
  #FFCC33 79.5%,
  #CC33FF 79.6%,
  #FF33CC 79.7%,
  #33CCFF 79.8%,
  #33CC33 79.9%,
  #33FFB2 80%,
  #FFB233 80.1%,
  #B233FF 80.2%,
  #3380FF 80.3%,
  #80FF33 80.4%,
  #FF8033 80.5%,
  #8033FF 80.6%,
  #33FF80 80.7%,
  #FF33B7 80.8%,
  #B733FF 80.9%,
  #33FFF5 81%,
  #FFBF33 81.1%,
  #BF33FF 81.2%,
  #33FFBF 81.3%,
  #FF33C3 81.4%,
  #C333FF 81.5%,
  #33C3FF 81.6%,
  #FFC333 81.7%,
  #C3FF33 81.8%,
  #FF33D7 81.9%,
  #D733FF 82%,
  #33FFD7 82.1%,
  #FFD733 82.2%,
  #D7FF33 82.3%,
  #FF33EA 82.4%,
  #EA33FF 82.5%,
  #33FFEA 82.6%,
  #FFE733 82.7%,
  #E7FF33 82.8%,
  #33E7FF 82.9%,
  #FF3399 83%,
  #9933FF 83.1%,
  #33FF99 83.2%,
  #FF9933 83.3%,
  #9933FF 83.4%,
  #33FF33 83.5%,
  #FF3333 83.6%,
  #3333FF 83.7%,
  #33FF66 83.8%,
  #FF66CC 83.9%,
  #66CCFF 84%,
  #FF66FF 84.1%,
  #66FF66 84.2%,
  #FF6666 84.3%,
  #6666FF 84.4%,
  #66FFCC 84.5%,
  #FFCC66 84.6%,
  #CC66FF 84.7%,
  #FF66AA 84.8%,
  #AA66FF 84.9%,
  #FFCC33 85%,
  #CC33FF 85.1%,
  #FF33CC 85.2%,
  #33CCFF 85.3%,
  #33CC33 85.4%,
  #33FFB2 85.5%,
  #FFB233 85.6%,
  #B233FF 85.7%,
  #3380FF 85.8%,
  #80FF33 85.9%,
  #FF8033 86%,
  #8033FF 86.1%,
  #33FF80 86.2%,
  #FF33B7 86.3%,
  #B733FF 86.4%,
  #33FFF5 86.5%,
  #FFBF33 86.6%,
  #BF33FF 86.7%,
  #33FFBF 86.8%,
  #FF33C3 86.9%,
  #C333FF 87%,
  #33C3FF 87.1%,
  #FFC333 87.2%,
  #C3FF33 87.3%,
  #FF33D7 87.4%,
  #D733FF 87.5%,
  #33FFD7 87.6%,
  #FFD733 87.7%,
  #D7FF33 87.8%,
  #FF33EA 87.9%,
  #EA33FF 88%,
  #33FFEA 88.1%,
  #FFE733 88.2%,
  #E7FF33 88.3%,
  #33E7FF 88.4%,
  #FF3399 88.5%,
  #9933FF 88.6%,
  #33FF99 88.7%,
  #FF9933 88.8%,
  #9933FF 88.9%,
  #33FF33 89%,
  #FF3333 89.1%,
  #3333FF 89.2%,
  #33FF66 89.3%,
  #FF66CC 89.4%,
  #66CCFF 89.5%,
  #FF66FF 89.6%,
  #66FF66 89.7%,
  #FF6666 89.8%,
  #6666FF 89.9%,
  #66FFCC 90%,
  #CC33FF 90.1%,
  #FF33CC 90.2%,
  #33CCFF 90.3%,
  #33CC33 90.4%,
  #33FFB2 90.5%,
  #FFB233 90.6%,
  #B233FF 90.7%,
  #3380FF 90.8%,
  #80FF33 90.9%,
  #FF8033 91%,
  #8033FF 91.1%,
  #33FF80 91.2%,
  #FF33B7 91.3%,
  #B733FF 91.4%,
  #33FFF5 91.5%,
  #FFBF33 91.6%,
  #BF33FF 91.7%,
  #33FFBF 91.8%,
  #FF33C3 91.9%,
  #C333FF 92%,
  #33C3FF 92.1%,
  #FFC333 92.2%,
  #C3FF33 92.3%,
  #FF33D7 92.4%,
  #D733FF 92.5%,
  #33FFD7 92.6%,
  #FFD733 92.7%,
  #D7FF33 92.8%,
  #FF33EA 92.9%,
  #EA33FF 93%,
  #33FFEA 93.1%,
  #FFE733 93.2%,
  #E7FF33 93.3%,
  #33E7FF 93.4%,
  #FF3399 93.5%,
  #9933FF 93.6%,
  #33FF99 93.7%,
  #FF9933 93.8%,
  #9933FF 93.9%,
  #33FF33 94%,
  #FF3333 94.1%,
  #3333FF 94.2%,
  #33FF66 94.3%,
  #FF66CC 94.4%,
  #66CCFF 94.5%,
  #FF66FF 94.6%,
  #66FF66 94.7%,
  #FF6666 94.8%,
  #6666FF 94.9%,
  #66FFCC 95%,
  #FFCC66 95.1%,
  #CC66FF 95.2%,
  #FF66AA 95.3%,
  #AA66FF 95.4%,
  #FFCC33 95.5%,
  #CC33FF 95.6%,
  #FF33CC 95.7%,
  #33CCFF 95.8%,
  #33CC33 95.9%,
  #33FFB2 96%,
  #FFB233 96.1%,
  #B233FF 96.2%,
  #3380FF 96.3%,
  #80FF33 96.4%,
  #FF8033 96.5%,
  #8033FF 96.6%,
  #33FF80 96.7%,
  #FF33B7 96.8%,
  #B733FF 96.9%,
  #33FFF5 97%,
  #FFBF33 97.1%,
  #BF33FF 97.2%,
  #33FFBF 97.3%,
  #FF33C3 97.4%,
  #C333FF 97.5%,
  #33C3FF 97.6%,
  #FFC333 97.7%,
  #C3FF33 97.8%,
  #FF33D7 97.9%,
  #D733FF 98%,
  #33FFD7 98.1%,
  #FFD733 98.2%,
  #D7FF33 98.3%,
  #FF33EA 98.4%,
  #EA33FF 98.5%,
  #33FFEA 98.6%,
  #FFE733 98.7%,
  #E7FF33 98.8%,
  #33E7FF 98.9%,
  #FF3399 99%,
  #9933FF 99.1%,
  #33FF99 99.2%,
  #FF9933 99.3%,
  #9933FF 99.4%,
  #33FF33 99.5%,
  #FF3333 99.6%,
  #3333FF 99.7%,
  #33FF66 99.8%,
  #FF66CC 99.9%,
  #66CCFF 100%
);
}