* {
  font-size: 150px;
  background-image: linear-gradient(to bottom, aquamarine 0%, green 3%, black 7%, red 10%, darkblue 13%, yellow 17%, brown 20%, black 23%, purple 27%, orange 30%, skyblue 33%, tomato 37%, blue 40%, aqua 43%, yellowgreen 47%, white 50%, gold 53%, gray 57%, pink 60%, black 63%, green 67%, blue 70%, red 73%, purple 77%, yellow 80%, tomato 83%, darkblue 87%, skyblue 90%, orange 93%, black 97%, yellowgreen 100%);
  margin: 0;
  padding: 0;
}